.container {
  width: 50%;
  user-select: none;
}
.collapseContent {
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
